@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 
 .head-bg {
     background-color: #EBEFEB !important;
 }

 a {
     font-weight: 500 !important;
     font-size: 18px !important;
 }

 .btn-dark {
     font-size: 18px !important;

     &:hover {
         background-color: #FF6357;
     }
 }

 body {
    font-family: "Inter", serif;
 }

 .hero-section {
     padding: 50px 0;
 }

 .apply-btn {
     background-color: #28a745;
     color: white;
     border: none;
 }

 .apply-btn:hover {
     background-color: #218838;
 }

 .form-box {
     background: white;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
 }